<h1 class="text-center">My Records</h1>

<div id="books" class="text-center mx-auto w-100">
  <% if @reading_records.length > 0 %>
    <table class="table text-light table-active">
      <thead>
      <tr>
        <th scope="col">Book</th>
        <th scope="col">Author</th>
        <th scope="col">Status</th>
        <th scope="col">Finished at</th>
      </tr>
      </thead>
      <tbody>
      <% @reading_records.each do |rec| %>
          <tr class="text-light">
            <td><%= link_to "#{rec.book.title}", rec.book, class:"text-light text-decoration-none" %></td>
            <td><%= link_to "#{rec.book.author.first_name} #{rec.book.author.last_name}", rec.book.author, class:"text-light"  %></td>
            <td><%= rec.status.titleize %></td>
            <td>
              <% if rec.finished_reading_at %>
                <%= rec.finished_reading_at.strftime('%d. %m. %Y') %>
              <% else %>
                -
              <% end %>
            </td>

          </tr>
      <% end %>

      </tbody>
    </table>
  <% end %>

  <%= page_entries_info @reading_records %>
  <%= paginate @reading_records, theme: 'bootstrap-5', pagination_class: "my-3 pagination-sm flex-wrap justify-content-center" %>

  <div>
    <hr>
    <p><b><%= @read %></b> books read, <b><%= @reading %></b> reading, <b><%= @plan_to_read %></b> planning to read.</p>
  </div>

  <div class="d-flex justify-content-start">
    <%= link_to "New record", new_reading_record_path, class:"btn btn-outline-light" %>
  </div>
</div>