<div class="p-5 mb-4 text-light rounded-3 text-start">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold"><%= author.first_name %> <%= author.last_name %></h1>
    <p class="card-text">
      <strong>Country:</strong>
      <%= author.country %>
    </p>

    <p class="card-text">
    <table class="table text-light table-active text-center">
      <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">ISBN</th>
        <th scope="col">Author</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <% author.books.each do |book| %>
        <tr class="text-light">
          <td><%= link_to "#{book.title}", book, class:"text-decoration-none text-light" %></td>
          <td><%= book.isbn %></td>
          <td><%= book.author.full_name %></td>
          <td><%= render partial: "shared/star_rating", locals: {rating: book.rating}  %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </p>
    <br>
    <%# if @author.user == current_user %>
<!--    <div class="d-flex justify-content-center">-->
      <%#= link_to "Edit", edit_author_path(@author), class:"btn btn-light me-3" %>
      <%#= link_to "Add Book", new_book_path(:new_book_author_id => "#{@author.id}"), class:"btn btn-dark me-3" %>
      <%#= link_to "Back", authors_path, class:"btn btn-info me-3" %>
      <%#= button_to "Delete", @author, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class:"btn btn-danger me-3" %>
<!--    </div>-->
      <%# else %>

      <%# end %>
  </div>
</div>