<div class="p-5 mb-4 text-light rounded-3 text-start">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold"><%= author.first_name %> <%= author.last_name %></h1>
    <p class="card-text">
      <strong><%= t(:country) %>:</strong>
      <%= author.country %>
    </p>

    <p class="card-text">
    <table class="table text-light table-active text-center">
      <thead>
      <tr>
        <th scope="col"><%= t(:title) %></th>
        <th scope="col">ISBN</th>
        <th scope="col"><%= t(:author) %></th>
        <th scope="col"><%= t(:rating) %></th>
      </tr>
      </thead>
      <tbody>
      <% author.books.each do |book| %>
        <tr class="text-light">
          <td><%= link_to "#{book.title}", book, class:"text-decoration-none text-light" %></td>
          <td><%= book.isbn %></td>
          <td><%= book.author.full_name %></td>
          <td><%= render partial: "shared/star_rating", locals: {rating: book.rating}  %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </p>
    <br>
  </div>
</div>