<ul class="nav mb-3 d-flex justify-content-center text-center" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button id="methodAbtn" class="active btn btn-sm btn-outline-light mx-2" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#methodA" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><%= t(:'header.books') %></button>
  </li>
  <li class="nav-item" role="presentation">
    <button id="methodBbtn" class="btn btn-sm btn-outline-light mx-2" data-bs-toggle="pill" data-bs-target="#methodB" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><%= t(:authors) %></button>
  </li>
  <li class="nav-item" role="presentation">
    <button id="methodCbtn" class="btn btn-sm btn-outline-light mx-2" data-bs-toggle="pill" data-bs-target="#methodC" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><%= t(:users) %></button>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="methodA" role="tabpanel" aria-labelledby="pills-home-tab">

    <form action="explore" method="get" class="form mb-3 justify-content-center text-center my-auto">
      <div class="form-group d-flex justify-content-center my-auto mb-2">
        <input type="text" id="search" name="search" placeholder="<%= t(:'order.search') %>" class="form-control w-50 mx-2">
      </div>
      <div class="form-group d-flex justify-content-center my-auto mb-2">
        <select class="form-select w-50 d-flex justify-content-center" aria-label="default select form-select example" name="order">
          <option value="" disabled selected><%= t(:'order.order_by') %></option>
          <option value="title_asc"><%= t(:'order.title_asc') %></option>
          <option value="title_desc"><%= t(:'order.title_desc') %></option>
          <option value="sk_title_asc"><%= t(:'order.sk_title_asc') %></option>
          <option value="sk_title_desc"><%= t(:'order.sk_title_desc') %></option>
          <option value="rating_asc"><%= t(:'order.rating_asc') %></option>
          <option value="rating_desc"><%= t(:'order.rating_desc') %></option>
          <option value="reviews_asc"><%= t(:'order.reviews_asc') %></option>
          <option value="reviews_desc"><%= t(:'order.reviews_desc') %></option>
        </select>
      </div>
      <button type="submit" class="btn btn-outline-light mx-2"><%= t(:'order.submit') %></button>
    </form>

    <% if @can_reset %>
      <form action="explore" method="get" class="form-signin m-3">
        <div class="form-group d-flex justify-content-center my-auto">
          <input type="hidden" id="search" name="search" class="form-control w-50 mx-2" value="">
          <input type="hidden" id="search" name="order" class="form-control w-50 mx-2" value="">
          <button type="submit" class="btn btn-outline-warning mx-2"><%= t(:reset_search) %></button>
        </div>
      </form>
    <% end %>

    <% if @books.length > 0 %>
      <table class="table text-light table-active">
        <thead>
        <tr>
          <th scope="col"><%= t(:title) %></th>
          <th scope="col">SK <%= t(:title) %></th>
          <th scope="col"><%= t(:author) %></th>
          <th scope="col"><%= t(:rating) %></th>
        </tr>
        </thead>
        <tbody>
        <% @books.each do |book| %>
          <tr class="text-light">
            <td><%= link_to "#{book.title}", book, class:"text-light text-decoration-none" %></td>
            <td><%= link_to "#{book.title_sk}", book, class:"text-light text-decoration-none"  %></td>
            <td><%= link_to "#{book.author.full_name}", book.author, class:"text-light text-decoration-none"  %></td>
            <td><%= render partial: "shared/star_rating", locals: {rating: book.rating} %> <%= "(#{book.ratings} #{t(:reviews)})" if book.ratings %></td>
          </tr>
        <% end %>

        </tbody>
      </table>
    <% end %>

    <%= page_entries_info @books %>
    <%= paginate @books, :remote => true, :param_name => "books_page", theme: 'bootstrap-5', pagination_class: "my-3 pagination-sm flex-wrap justify-content-center" %>
  </div>

  <div class="tab-pane fade" id="methodB" role="tabpanel" aria-labelledby="pills-home-tab">

    <% if @authors.length > 0 %>
      <table class="table text-light table-active">
        <thead>
        <tr>
          <th scope="col"><%= t(:name) %></th>
          <th scope="col"><%= t(:country) %></th>
          <th scope="col"><%= t(:'header.books') %></th>
        </tr>
        </thead>
        <tbody>
        <% @authors.each do |author| %>
          <tr class="text-light">
            <td><%= link_to "#{author.full_name}", author, class:"text-light text-decoration-none" %></td>
            <td><%= author.country %></td>
            <td><%= author.books.length %></td>
          </tr>
        <% end %>

        </tbody>
      </table>
    <% end %>

    <%= page_entries_info @authors %>
    <%= paginate @authors, :remote => true, :param_name => "authors_page", theme: 'bootstrap-5', pagination_class: "my-3 pagination-sm flex-wrap justify-content-center" %>
  </div>

  <div class="tab-pane fade" id="methodC" role="tabpanel" aria-labelledby="pills-home-tab">

    <% if @users.length > 0 %>
          <% @users.each do |user| %>
            <%= render partial: "users/user_card", locals: {user: user}  %>
          <% end %>
    <% end %>

    <%= page_entries_info @users %>
    <%= paginate @users, :remote => true, :param_name => "users_page", theme: 'bootstrap-5', pagination_class: "my-3 pagination-sm flex-wrap justify-content-center" %>
  </div>
</div>

<%#= render "shared/search_script" %>

<script type="text/javascript" charset="utf-8">

    document.getElementById("methodAbtn").addEventListener("click", function(event){
        localStorage.setItem("explore_category", "methodAbtn");
    });
    document.getElementById("methodBbtn").addEventListener("click", function(event){
        localStorage.setItem("explore_category", "methodBbtn");
    });
    document.getElementById("methodCbtn").addEventListener("click", function(event){
        localStorage.setItem("explore_category", "methodCbtn");
    });

    $(document).ready(function()
    {
        if (localStorage.getItem("explore_category"))
        {
            document.getElementById("methodAbtn").setAttribute("class", "btn btn-sm btn-outline-light mx-2");
            document.getElementById("methodBbtn").setAttribute("class", "btn btn-sm btn-outline-light mx-2");
            document.getElementById("methodCbtn").setAttribute("class", "btn btn-sm btn-outline-light mx-2");
            document.getElementById(localStorage.getItem("explore_category")).setAttribute("class", "active btn btn-sm btn-outline-light mx-2");
        }
        else
        {
            localStorage.setItem("explore_category", "methodAbtn")
        }
    });

    $(`#${localStorage.getItem("explore_category")}`).click();

</script>