<div class="py-5 my-auto text-center w-75 mx-auto">
  <h1 class="display-5 fw-bold">Prehrajto scraper</h1>
  <hr>

  <div class="col-lg-6 mx-auto w-100">
    <input id="prehrajto_search" type="text" class="form-control">
    <button id="prehrajto_search_button" class="btn btn-light mt-2">Search</button>
  </div>
  <hr>
  <ul id="prehrajto_ul" class="list-group"></ul>

  <div class="container d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-lg-2">

      <% if @divs && !params[:movie_url] %>
          <% @divs.each do |div| %>
            <div class="col mb-2">
              <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="<%= div[:image_src] %>" alt="Card image cap">
                <div class="card-body">
                  <a href="<%= div[:href] %>"  class="card-title text-dark h5 text-decoration-none"><%= div[:title] %></a>
                  <p class="card-text text-dark text-muted"><%= "#{div[:duration]} | #{div[:size]}" %></p>
                </div>
              </div>
            </div>
          <%end %>
      <%end %>

      <% if params[:movie_url] && params[:movie_url].length > 0 %>
        <% @divs.each do |div| %>
          <div class="col mb-2">
            <div class="card mx-auto" style="width: 18rem;">
              <img class="card-img-top" src="<%= div[:image_src] %>" alt="Card image cap">
              <div class="card-body">
                <a href="<%= div[:href] %>"  class="card-title text-dark h5 text-decoration-none"><%= div[:title] %></a>
                <p class="card-text text-dark text-muted"><%= "#{div[:duration]} | #{div[:size]}" %></p>
              </div>
            </div>
          </div>
        <%end %>
      <%end %>

<!--      <div class="col mb-2">-->
<!--        <div class="card mx-auto" style="width: 18rem;">-->
<!--          <img class="card-img-top" src=".../100px180/" alt="Card image cap">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col mb-2">-->
<!--        <div class="card mx-auto" style="width: 18rem;">-->
<!--          <img class="card-img-top" src=".../100px180/" alt="Card image cap">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col mb-2">-->
<!--        <div class="card mx-auto" style="width: 18rem;">-->
<!--          <img class="card-img-top" src=".../100px180/" alt="Card image cap">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col mb-2">-->
<!--        <div class="card mx-auto" style="width: 18rem;">-->
<!--          <img class="card-img-top" src=".../100px180/" alt="Card image cap">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


    </div>
  </div>

  <% if @search_result %>
    <%= sanitize @search_result %>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $("#prehrajto_search").on("input", function (){
            let matchvalue = $(this).val();
            $.ajax({
                url: "https://prehrajto.cz",
                accepts: {
                    text: "application/json"
                },
                headers: {
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Methods": "*",
                    "Access-Control-Request-Methods": "*"
                },
                crossDomain: true,
                data: { string: matchvalue },
                type: "get"
            }).done(function(responseData) {
                console.log("Done: ", responseData);
                //response = JSON.parse(responseData.toString());

                const ul = document.getElementById("prehrajto_ul")
                ul.innerHTML = ""
                for (let r of responseData)
                {
                    let li = document.createElement("li");
                    li.setAttribute("class", "list-group-item")
                    let a = document.createElement("a");
                    a.innerText = r.phrase_data
                    a.href = `/prehrajto/?search_url=${r.url}`

                    li.appendChild(a)
                    ul.appendChild(li)
                }

            }).fail(function() {
                console.log("Failed");
            });
        });

        $("#prehrajto_search_button").on("click", function (){
            let matchvalue = $("#prehrajto_search").val();
            window.location.replace(`/prehrajto/?search_url=/hledej/${matchvalue}`)
        });
    });
</script>