<div class="py-5 my-auto text-center w-75 mx-auto">
  <%=image_tag("book_icon.png", alt: "Example Image", width:"72", height:"57")%>
  <h1 class="display-5 fw-bold"></h1>
  <p>
    <%= @quote.published_at.strftime('%d. %m. %Y') %>
  </p>
  <hr>

  <div class="col-lg-6 mx-auto w-100">
    <% if (I18n.locale == "sk") && (@quote.content_sk.length > 0) %>
      <p class="lead mb-4 fs-3"><%= "'#{@quote.content_sk}'" %></p>
    <% else %>
      <p class="lead mb-4 fs-3"><%= "'#{@quote.content_en}'" %></p>
    <% end %>
      <p class="lead mb-4 fs-6"><%= "- #{@quote.author}" %></p>
  </div>

  <hr>
  <%= link_to t(:quote_source), @quote.url, class:"btn btn-outline-light btn-sm", target: :_blank %>
</div>