<div class="p-3 text-light rounded-3 text-start">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold"><%= book.title %></h1>

    <p class="card-text">
      <strong>SK title:</strong>
      <%= book.title_sk %>
    </p>

    <p class="card-text">
      <strong>ISBN:</strong>
      <%= book.isbn %>
    </p>

    <p class="card-text">
      <strong>Author:</strong>
      <%= link_to "#{book.author.first_name} #{book.author.last_name}", book.author, class:"text-light" %>
    </p>

    <p class="card-text">
      <strong>Rating:</strong>
      <%= "#{book.rating}%" %>
    </p>

    <% if current_user.is_admin? %>
      <div class="d-flex justify-content-center">
        <%= link_to "Edit", edit_book_path(@book), class:"btn btn-light me-3" %>
        <%= link_to "Back", books_path, class:"btn btn-info me-3" %>
        <%= button_to "Delete", @book, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class:"btn btn-danger me-3" %>

        <% if current_user.have_read(book.id) == true %>
          <%= link_to "Review", new_review_path(book_to_review: book.id), class:"btn btn-info me-3" %>
        <% end %>
      </div>
    <% else %>
      <% if current_user.have_read(book.id) == true %>
        <%= link_to "Review", new_review_path(book_to_review: book.id), class:"btn btn-info me-3" %>
      <% end %>
    <% end %>
  </div>
</div>
